body {
    margin: 0;
        
    background: url("../img/pattern.png")
    
    
    font-family: Tahoma;
    line-height: 1,5;
    font-size: 18px;
}
.card {
   width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    
}
    
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
   
    
    
        
}

.card-title{
    font-size: 20px;
        text-align: center;
    color: red;
}
   
.card-text{
    font-size: 14px;
        
}

.card-subtitle{
    font-size: 18px;
    color: blue;
    
    
}

.card-list {
    padding-left: 0;
    font-size: 14px;
    list-style-position: inside;
}


   
    
        
    


